<!-- Navbar -->
<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#">
      <img src="../../assets/images/Logo_ESAT[FundoBranco].png" width="80" height="80" alt="">
  </a>
  <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">
              <div class="tiny-rectangle"></div>
              INÍCIO
          </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">
              <div class="tiny-rectangle"></div>
              SOBRE
          </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login" >
              <div class="tiny-rectangle"></div>
              LOGIN
          </a>
      </li>
  </ul>
</nav>
