#sidenav {
  height: 100vh;
  border: 2px solid black;
  color: black;
}

.sidenav-item {
  margin: 0 auto;
  display: block;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
