<div id="sidenav d-flex justify-content-center">
  <img class="text-center" src="../../../assets/images/Logo_ESAT[FundoBranco].png" alt="Logo ESAT" height="150" width="150">
  <p class="text-center">GERAL</p>
  <button class="btn btn-outline-success sidenav-item">Resumo</button>
  <p class="text-center mt-3">Projetos</p>

  <!-- CRIAR NOVO -->
  <div class="text-center">
    <app-create-project (dadosInseridos)="getDados($event)"></app-create-project>
  </div>

  <!-- PROJETOS CRIADOS -->
  <div *ngIf="criado" class="mt-2">
    <mat-expansion-panel *ngFor="let projeto of projetos">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ projeto.nome }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a routerLink="/resumo/{{ projeto.id }}">RESUMO</a>
      <br>
      <a routerLink="/tabelas/{{ projeto.id }}">TABELAS</a>
      <br>
      <a routerLink="/requisicoes/{{ projeto.id }}">REQUISIÇÕES</a>
    </mat-expansion-panel>
  </div>
</div>
