<div id="sidenav d-flex justify-content-center">
  <img class="text-center" src="../../../assets/images/Logo_ESAT[FundoBranco].png" alt="Logo ESAT" height="150" width="150">
  <p class="text-center">GERAL</p>
  <button class="btn btn-outline-success sidenav-item">Resumo</button>
  <p class="text-center mt-3">Projetos</p>

  <!-- CRIAR NOVO -->
  <div class="text-center">
    <app-create-project></app-create-project>
  </div>
  <!-- PROJETOS CRIADOS -->
  <div *ngIf="criado">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Toggle
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body">
          You can collapse this card by clicking Toggle
        </div>
      </div>
    </div>
  </div>
