<button class="btn btn-outline-success base-item" (click)="openCreateNewProject(content)">Criar Novo</button>

<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">NOVO PROJETO</h4>
  </div>

  <!-- FORM DE CADASTRO DE PROJETO -->
  <form [formGroup]="projetoForm" (ngSubmit)="onCreateProject()">
    <div class="modal-body">
      <div class="form-group">
        <div  *ngIf="!cadastroPreenchido && !downloadTabelaFeito">
          NOME DO PROJETO: <input type="text" class="form-control" id="projeto-nome" formControlName="nome" required>
          DESCRIÇÃO: <textarea class="form-control" name="descricao" id="projeto-descricao" cols="30" rows="10" formControlName="descricao"></textarea>
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">R$</span>
            </div>
            <input type="number" class="form-control" placeholder="0,00" aria-label="Limite" id="projeto-limite" formControlName="limite" required>
          </div>
          <small>Valor total disponível</small>
          <hr>
          <div class="d-flex justify-content-around mt-4">
            <button class="btn btn-outline-secondary" type="button" (click)="modal.dismiss()">CANCELAR</button>
            <button class="btn btn-dark" type="button" (click)="cadastroPreenchido = true">PRÓXIMO</button>
          </div>
        </div>
        <!-- DOWNLOAD TABELA DE ITENS -->
        <div *ngIf="cadastroPreenchido && !downloadTabelaFeito">
          <p style="text-align: center;">BAIXE NOSSA TABELA DE ITENS:</p>
          <button type="button" class="btn btn-outline-secondary btn-block">BAIXAR TABELA</button>
          <hr>
          <div class="d-flex justify-content-around mt-4">
            <button class="btn btn-outline-secondary" type="button" (click)="modal.dismiss(); cadastroPreenchido = false; downloadTabelaFeito = false;">CANCELAR</button>
            <button class="btn btn-dark" type="button" (click)="downloadTabelaFeito = true">CONCLUÍDO</button>
          </div>
        </div>


        <!-- UPLOAD TABELA DE ITENS -->
        <div *ngIf="cadastroPreenchido && downloadTabelaFeito">
          <p style="text-align: center;">FAÇA UPLOAD DA TABELA DE ITENS:</p>
          <input type="file" class="form-control" name="tabela" id="tabela" formControlName="tabela">
          <hr>
          <div class="d-flex justify-content-around mt-4">
            <button class="btn btn-outline-secondary" type="button" (click)="modal.dismiss(); cadastroPreenchido = false; downloadTabelaFeito = false;">CANCELAR</button>
            <button class="btn btn-dark" type="button" (click)="cadastroPreenchido = false; downloadTabelaFeito = false; onCreateProject(); modal.dismiss();">CONCLUÍDO</button>
          </div>
        </div>

      </div>
    </div>
  </form>
</ng-template>
